*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("background1.png") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./wine_bottle.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.left1{
	background: url("./1.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left2{
	background: url("./2.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left21{
	background: url("./3.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left22{
	background: url("./4.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left23{
	background: url("./5.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left24{
	background: url("./6.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left25{
	background: url("./7.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left26{
	background: url("./8.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left27{
	background: url("./9.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}

.left28{
	background: url("./10.png") no-repeat center;
	background-size: cover;
	width:900px;
    height:630px;
}



.left3{
	background: url("./target.jpg") no-repeat center;
	background-size: cover;
	width:650px;
    height:425px;
}

.left4{
	background: url("./upload.png") no-repeat center;
	background-size: cover;
	width:650px;
    height:425px;
}


.right{
	padding: 25px 40px;
}


h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h1{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #d23481;
}

h1:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.3rem 1rem;
	font-size: 0.7rem;
	margin-bottom: 10px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ea5e7e;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 20px;
	transition: .3s;
}

.btn:hover{
    background-color: #cc3659;
}


.btn1{
	width: 100%;
	padding: 0.2rem 1rem;
	background-color: #2e83cc;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 20px;
	transition: .3s;
}

.btn1:hover{
    background-color: #28629e;
}

.btn2{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2e83cc;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn2:hover{
    background-color: #28629e;
}

.btn3{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn3:hover{
    background-color: #27ae60;
}

.btn4{
	width: 100%;
	padding: 0.2rem 1rem;
	background-color: #ce3e4b;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn4:hover{
    background-color: #ca2633;
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}